/* Page background */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(159, 178, 34);
}

/* Calculator container */
.container {
  width: 400px;
  border: 20px solid gray;
  background-color: black;
}

/* Display screen */
.display {
  background-color: black;
  color: white;
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-end;
  font-size: 36px;
}

/* Result (gray small text) */
.result {
  font-size: 24px;
  color: rgb(140, 140, 140);
  text-align: right;
}

/* Button rows */
.btn-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Buttons */
.col {
  height: 80px;
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

.col:hover {
  background-color: rgb(124, 124, 124);
}
